{% extends "layout.html" %}

{% block title %}
    <title>Welcome to the home of the comment posting community</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

   <h1>Welcome to the comment posting community</h1>

    {% if session_username is defined %}

        <h2>Hi, {{ session_username }} !</h2>

    {% else %}

        <h2>Hi, guest!</h2>

    {% endif %}

    <div id="posts" class="container">
        {% for p in posts %}
            <div class="row">
              <div class="author col-sm">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                {{ p.User.username }}
              </div>
              <div class="col-6">
                {{ p.Post.content }}
              </div>
              <span class="date col-sm">{{ p.Post.created_date }}</span>
            </div>
        {% endfor %}
    </div>


    <div id="forms" class="btn-group" role="group" aria-label="Options">
        {% if session_username is defined %}
            <form action="/logout" method="POST">
                <a href="{{ url_for('logout') }}" class="btn btn-primary">Log out</a>
                <!-- button type="submit" class="btn btn-primary"> Log out</button -->
            </form>

            <form action="/newpost" method="GET">
                <a href="{{ url_for('newpost') }}" class="btn btn-primary">New Post</a>
                <!-- button type="submit" class="btn btn-primary"> New Post</button -->
            </form>

        {% else %}
            <form action="/login" method="GET">
                <a href="{{ url_for('login') }}" class="btn btn-primary">Log in</a>
                <!-- button type="submit" class="btn btn-primary"> Log in</button -->
            </form>
            <form action="/signup" method="GET">
                <a href="{{ url_for('signup') }}" class="btn btn-primary">Sign up</a>
                <!-- button type="submit" class="btn btn-primary"> Sign up</button -->
            </form>
        {% endif %}
    </div>

{% endblock %}
