{% extends "layout.html" %}

{% block title %}
    <title>Add a new post to the Comment maker community</title>
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    <h1>Add a new post to the comment posting community</h1>

    <form method="POST" action="/newpost" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.content.label }}<br>
            {{ form.content(rows='12',cols='60', class="form-control", placeholder="Enter a post message!") }}<br>
            {% for error in form.content.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}

            {{ form.submit(class="form-submit btn btn-primary") }}
        </div>

    </form>

{% endblock %}
