{% extends "layout.html" %}
{% block title %}
    <title>Sign up to join the Comment maker community</title>
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    <h1>Signup form to join the comment posting community</h1>

    <form method="POST" action="/signup" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label }}<br>
            {{ form.username(size=32, class="form-control", placeholder="Enter a username") }}<br>
            {% for error in form.username.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}

            {{ form.password.label }}<br>
            {{ form.password(size=32, class="form-control", placeholder="Enter a password") }}<br>
            {% for error in form.password.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        {{ form.submit(class="form-submit btn btn-primary") }}

    </form>

    <p>Already signed up? <a href="{{ url_for('login') }}" class="btn btn-primary">Log in!</a></p>

{% endblock %}
